body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #111;
  cursor: crosshair;
  color: #AAA;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

input#scrollSpeedSlider{
  width: 50vw;
}

input {
  margin: 10px;
}

label {
  background-color: #666;
}

div#options{
  color: black;
  font-weight:bolder;
  display:flex;
  background-color: #999;
}

div.scrollbar{
  margin: 10px;
}

div#colorPickersContainer{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  flex-direction: column;
}

div#colorPickersContainer div{
  display: flex;
}

button {
  color: #AAA;
  background-color: #111;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

button:hover {
  background-color: #222;
}

button.active {
  background-color: rgb(36, 127, 97);
  color: white;
}

button.active:hover{
  background-color: rgb(59, 169, 133);
}

canvas {
  width: 100vw;
  max-height: 95vh;
}
