body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #111;
    cursor: crosshair;
    
}

canvas {
    width : 100vw;
    max-height: 95vh;
}

#scrollSpeedSlider {
    width: 100%;
    height: 20px;
    background-color: #111;
    border-radius: 5px;
    position: relative;
  }
  
  #sliderTrack {
    height: 20px;
    background-color: #111;
  }
  
  #sliderThumb {
    border: solid 1px rgb(3, 3, 3);
    width: 16px;
    height: 16px;
    background-color: #111;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
